@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100;1,300&family=Noto+Sans:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

aside {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #C3953C;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidebar */
    display: flex;
    flex-direction: column;
}

aside a {
    text-decoration: none;
}

.top-sidebar {
    display: flex;
    justify-content: space-around;
}

aside .main-sidebar .arrow {
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
    /* transform: rotate(90deg); */
}

aside .main-sidebar .collapsed .arrow {
    transform: rotate(90deg);
}

aside .submenu {
    display: none;
    margin-top: 10px;
  }

aside .main-sidebar .open .submenu {
    display: block;
}

aside .main-sidebar {
    flex-grow: 1;
}

aside .top-sidebar,
aside .bottom-sidebar {
    background-color: #242424;
}

aside .top-sidebar {
    padding: 25px 0;
    font-size: 20px;
}

.top-sidebar p {
    text-transform: uppercase;
    color: #EBEBEB;
    text-shadow: 0 0 3px #FF0000
}

.fa-xmark {
    color: #EBEBEB;
}

.main-sidebar,
.main-sidebar a {
    color: #EBEBEB;
}

.main-sidebar .main-menu li {
    padding: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
}

aside li {
    list-style: none;
    text-align: initial;
}

.main-sidebar .submenu li {
    padding: 5px 0;
    font-size: 17px;
    text-transform: capitalize;
}

.bottom-sidebar {
    padding: 30px 0;
}

.bottom-sidebar,
.bottom-sidebar a,
.bottom-sidebar i {
    color: #EBEBEB;
}

.bottom-sidebar li {
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 0;
}

.bottom-sidebar i {
    padding-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #967D71;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px #9A6C6C;
    z-index: 1;
}

.dropdown-content a {
    color: #EBEBEB;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-sidebar img {
    width: 55%;
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    align-self: flex-start;
    margin-top: 20px;
}

.fas {
    color: #C3953C;
}