@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100;1,300&family=Noto+Sans:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #242424;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.header-menu {
    display: none;
}

header .top-header {
    background-color: #C3953C;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-header p {
    background-color: #C3953C;
    color: #242424;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
}

.top-header a:hover {
    color: #8B0000;
    font-weight: bold;
}

.top-header a {
    color: #242424;
}

header a {
    text-decoration: none;
}

.top-header span {
    padding: 0 5px;
}

.medium-header {
    background-color: #8B0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medium-header p {
    display: none;
}

.medium-header i {
    margin-left: 20px;
    font-size: 25px;
    color: #C3953C;
}

.medium-header div {
    margin-right: 20px;
}

.logo {
    max-width: 100px;
    justify-items: center;
    padding: 5px 0;
}

.banner {
    margin-bottom: -4px;
}

.logo img,
.banner img {
    width: 100%;
}

.header-filmxl,
.left-light,
.right-light,
.crew,
.form-filmxl {
    display: none;
}

.left-light,
.right-light {
    max-width: 300px;
}

main {
    flex-grow: 1;
    text-align: center;
}

.title {
    background-color: #C3953C;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p {
    color:#242424;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.next-movie {
    background-color: #8B0000;
    border-radius: 5px;
    /* width: 95vw; */
    display: flex;
    align-items: center;
    height: 200px;
    margin: 20px 30px;
    padding: 15px;
    position: relative;
}

.next-movie img.camera {
    position: absolute;
    bottom: -20px;
    left: -20px;
    /* transform: translate(-10%, -50%); */
    width: 85px;
    height: 80px;
}

.poster {
    flex-shrink: 0;
    margin-right: 1rem;
    width: 115px;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.movie-info {
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    color: #FFF;
    /* padding: 20px 0 20px 10px; */
    text-align: initial;
    flex-grow: 1;
    display: block;
}

.movie-title {
    text-transform: uppercase;
    font-size: 16px;
}

.movie-duration{
    font-size: 10px;
    font-style: italic;
}

.movie-director {
    font-size: 11px;
}

.movie-about {
    font-size: 12px;
    text-align: justify;
    margin-top: 10px;
}

.past-movies-btn {
    background-color: #C3953C;
    color: #FFF;
    border: #8B0000 3px solid;
    border-radius: 10px;
    padding: 25px 20px;
    text-transform: uppercase;
    margin: 20px;
}

.past-movies-btn:hover {
    font-weight: bold;
    color: #8B0000;
    transform: scale(1.009)
}

.send-movie {
    margin: 20px 40px;
    background-color: #D9D9D9;
    border-radius: 5px;
    border:#8B0000 solid 3px;
}

.send-movie p {
    text-transform: uppercase;
    padding: 10px 20px 0 10px;
}

.send-banner {
    margin: -5px 0;
}

.send-banner img {
    width: 100%;
    object-fit: cover;
}

.send-movie form input {
    border-radius: 5px;
    border:#242424 1px solid;
    margin-top: 5px;
    padding: 6px;
    width: 200px;
}

.send-btn {
    background-color: #8B0000;
    color: #C3953C;
    border: #242424 2px solid;
    border-radius: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    margin: 20px;
    font-weight: 700;
}

.send-btn:hover {
    font-weight: bold;
    color: #FFF;
    transform: scale(1.01)
}

footer {
    background-color: #8B0000;
    text-align: center;
}

footer p {
    color:#C3953C;
    text-transform: lowercase;
    padding: 10px 0;
}

footer span {
    color: #242424;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8B0000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #C3953C;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8B0000;
}
/*-------------*/

#flanes-title {
    display: none;
}

@media screen and (min-width: 481px) and (max-width: 769px) {
    /* .poster {
        width: 20%;
    } */
}

@media (min-width: 481px) {
    aside,
    .fa-bars {
        display: none;
    }

    .medium-header p {
        display: inline;
        font-size: 26px;
        text-transform: uppercase;
        color: #FFF;
        margin: 0 20px;
    }

    .medium-header {
        justify-content: flex-start;
    }

    .header-menu {
        display: inline;
        flex: 1;
        margin-right: 10px;
    }

    .header-menu ul{
        display: flex;
        justify-content: flex-end;
    }

    .header-menu li{
        list-style: none;
        margin: 0 10px;
        color: #FFF;
        font-size: 16px;
        text-transform: uppercase;
    }

    #flanes-title {
        display: inline;
    }
}

@media only screen and (min-width: 769px)  {
    .title {
        height: 50px;
    }
    
    .title p {
        font-size: 20px;
    }

    .header-film,
    .form-film {
        display: none;
    }

    .header-filmxl,
    .left-light,
    .right-light {
        display: inline;
    }

    .main-movie {
        display: flex;
        justify-content: space-between;
    }

    .lights-img {
        flex: 1;
        align-self: center;
    }

    .lights-img img {
        max-width: 100%;
        height: auto;
    }

    .next-movie {
        margin-top: 85px;
        flex: 2;
    }

    .form-crew {
        display: flex;
    }

    .form-crew .crew {
        width: 30%;
        margin-left: 60px;
        margin-bottom: 25px;
    }

    .form-filmxl {
        display: inline;
    }

    .crew {
        display: inline;
    }

    .send-banner {
        margin: 10px 0;
    }

    .send-movie {
        max-height: 250px;
        margin-top: 60px;
    }

    .send-movie form input {
        width: 350px;
    }

    .movie-duration{
        font-size: 12px;
        margin-bottom: 2px;
    }

    .movie-title {
        font-size: 18px;
    }

    .movie-director {
        font-size: 13px;
    }

    .movie-about {
        font-size: 14px;
    }

    .medium-header p {
        font-size: 36px;
    }

    .header-menu {
        margin-right: 40px;
    }

    .header-menu li{
        margin: 0 30px;
    }
}