<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flanes cineclub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="top-header">
                <p><span><a href="#">Login</a></span>|<span><a href="#">Sign up</a></span></p>
        </div>
        <div class="medium-header">
            <i class="fas fa-bars"></i>
            <div class="logo">
                <a href="/"><img src="/img/logo.png" alt="Logo Flanes"></a>
            </div>
            <div></div>
        </div>
        <div class="banner">
            <img src="/img/film.png" alt="Movie film">
        </div>
    </header>
    <main>
        <div class="title">
            <p>Próxima función</p>
        </div>
        <div class="main-movie">
            <section class="next-movie">
                <div class="poster">
                    <img src="/img/white.jpg" alt="Movie poster">
                </div>
                <div class="movie-info">
                    <h1 class="movie-title">Title</h1>
                    <h2 class="movie-duration">xxx min</h2>
                    <h2 class="movie-director">Director name</h2>
                    <p class="movie-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                </div>
                <img src="/img/camera.png" alt="Movie camera" class="camera">
            </section>
        </div>
        <button type="button" class="past-movies-btn">Películas anteriores</button>
        <div class="send-movie">
            <p class="send-title">Querés recomendar una peli para ver?</p>
            <div class="send-banner">
                <img src="/img/film2.png" alt="Movie film">
            </div>
            <form action="">
                <input type="text" name="movie" id="movie" placeholder="Ingresá el nombre">
            </form>
            <input class="send-btn" type="button" value="Enviar">
        </div>
    </main>
    <footer>
        <p>Made with <span>&#10084;</span> for movies and frienship</p>
    </footer>
</body>
</html>