<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flanes cineclub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
    <%- include('./partials/header.ejs')%>
    <main>
        <%- include('./partials/sidebar.ejs')%>
        <div class="title">
            <p>Próxima función</p>
        </div>
        <div class="main-movie">
            <div class="lights-img">
                <img src="/img/left-light.png" alt="Movie lights" class="left-light">
            </div>
            <section class="next-movie">
                <div class="poster">
                    <img src="/img/white.jpg" alt="Movie poster">
                </div>
                <div class="movie-info">
                    <h1 class="movie-title">Title</h1>
                    <h2 class="movie-duration">xxx min</h2>
                    <h2 class="movie-director">Director name</h2>
                    <p class="movie-about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiiiii.</p>
                </div>
                <img src="/img/camera.png" alt="Movie camera" class="camera">
            </section>
            <div class="lights-img">
                <img src="/img/right-light.png" alt="Movie lights" class="right-light">
            </div>
        </div>
        <button type="button" class="past-movies-btn">Películas anteriores</button>
        <div class="form-crew">
            <img src="/img/crew.png" alt="Movie crew" class="crew">
            <div class="send-movie">
                <p class="send-title">Querés recomendar una peli para ver?</p>
                <div class="send-banner">
                    <img src="/img/film2.png" alt="Movie film" class="form-film">
                    <img src="/img/film2xl.png" alt="Movie film" class="form-filmxl">
                </div>
                <form action="">
                    <input type="text" name="movie" id="movie" placeholder="Ingresá el nombre">
                </form>
                <input class="send-btn" type="button" value="Enviar">
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>
    <script>
        function openNav() {
        document.getElementById("mySidebar").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
    </script>
    <script src="/js/sidebar.js"></script>
</body>
</html>