<header>
    <div class="top-header">
            <p><span><a href="#">Login</a></span>|<span><a href="#">Sign up</a></span></p>
    </div>
    <div class="medium-header">
        <i class="fas fa-bars" onclick="openNav()"></i>
        <p>Flanes cineclub</p>
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="Logo Flanes"></a>
        </div>
        <div></div>
        <section class="header-menu">
            <ul>
                <li>Inicio</li>
                <li>Películas</li>
                <li>About</li>
            </ul>
        </section>
    </div>
    <div class="banner">
        <img src="/img/film.png" alt="Movie film" class="header-film">
        <img src="/img/film-xl.png" alt="Movie film" class="header-filmxl">
    </div>
</header>